<h1>Try it</h1>
<h2>input</h2>
<textarea id="inputscript" style="margin: 0px; width: 100%; height: 700px;">
initial,
off: _temperature=25,
open/off,
on {
    idle, 
    open/on : _temperature=25,
    active {
      boil  : _start  = Date.now() // only initialize phase
              _temperature=25+((Date.now()-_start)/1000)*1.25,
      keep  : _temperature=100;
    };

    # _water-=sec*10
    idle => idle    [color="blue"]  : dispense(sec:number);
    idle => open/on [color="red"]   : open();
    idle => boil    [color="black"] : "_water>=10";
    idle => off     [color="gray"]  : plugOff();

    # _water+=water
    open/on => open/on  [color="darkgreen"] : fill(water:number) ;
    open/on => idle     [color="purple"]    : close();
    open/on => open/off [color="gray"]      : plugOff();

    active => open/on [color="red"]  : open();
    active => off     [color="gray"] : plugOff();

    boil => keep    [color="black"] : "_temperature>=100";

    # _water-=sec*10
    keep => keep [color="blue"]   : dispense(sec:number);
    keep => boil [color="orange"] : reboil();
    keep => idle [color="black"]  : "_water<10";
};

# _water=0
initial => off;

# _water += water
open/off  => open/off [color="darkgreen"] : fill(water:number);
open/off  => off      [color="purple"]    : close();
open/off  => open/on  [color="pink"]      : plugIn();

off => open/off [color="red"]  : open();
off => idle     [color="pink"] : plugIn();
</textarea>
<p style="margin: 0px; width: 100%; height: 100%;">
   Switch:
   <select name="”switch”" id="switch">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
   </select>
   <button id="render" style="margin: 0px; width: 80%; height: 100%;">GO</button>
</p>
<h2>Diagram</h2>
<div id="diagram" style="margin: 0px; width: 100%; height: 100%;background-color: transparent;"></div>
<h2>Transitions</h2>
<div id="transitions" style="margin: 0px; width: 100%; height: 100%;"></div>
<h2 id="case">N switch cases</h2>
<div id="one" style="margin: 0px; width: 100%; height: 100%;"></div>
<h2 id="matrix">N switch matrix</h2>
<div id="onematrix" style="margin: 0px; width: 100%; height: 100%;"></div>
<script src="https://freddiefujiwara.github.io/smtc/src/smtc.js"></script>
<script src="https://freddiefujiwara.github.io/smtc/src/smcat.min.js"></script>
<script src="https://freddiefujiwara.github.io/smtc/src/markdown.min.js"></script>
<script src="https://code.jquery.com/jquery-git.slim.min.js"></script>
<script type="text/javascript">
   //<![CDATA[
$("#render").click(() => {
    const inputscript = $("#inputscript").val();
    $("#diagram").html(smcat.render(inputscript));
    const s = new Smtc(smcat);
    const nSwitchCoverage = s.setContents(inputscript)
        .initialize()
        .nSwitchCoverage($("#switch").val());

    let output = new Array();
    const log = console.log;
    console.log = function(line) {
        output.push(line);
    };

    s.printTransitions();
    $("#transitions").html(markdown.markdown.toHTML(output.join("\n"), "Maruku"));

    output = new Array();
    s.printNSwitch(nSwitchCoverage);
    $("#one").html(markdown.markdown.toHTML(output.join("\n"), "Maruku"));
    $("#case").text($("#switch").val() + " Switch test cases");

    output = new Array();
    s.printNSwitchMatrix(nSwitchCoverage);
    $("#onematrix").html(markdown.markdown.toHTML(output.join("\n"), "Maruku"));
    $("#matrix").text($("#switch").val() + " Switch matrix");

    console.log = log;

});

// for default inputscript 
// ex) https://freddiefujiwara.github.io/smtc/i=[url encoded inputscript]
let queries = {};
document.location.search.substr(1).split('&').forEach((q) => {
    const i = q.split('=');
    if (i.length > 1) {
        queries[i[0].toString()] = decodeURIComponent(i[1].toString());
    }
});
if (queries["i"] && queries["i"].length > 0) {
    $("#inputscript").val(queries["i"]);
}
   //]]>
</script>
